/*====================
Default Css starts.
====================*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

::selection {
  background-color: $yellow-color;
}

@mixin background() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin col($width) {
  width: $width;
  float: left;
}

.col-25 {
  @include col(25%);
}

.col-33 {
  @include col(33.33%);
}

.col-50 {
  @include col(50%);
}

.col-75 {
  @include col(75%);
}

.container {
  width: 1120px;
  margin: 0 auto;

  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

ul li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

header,
footer,
section {
  overflow: hidden;
}

section {
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.btn {
  background-color: $yellow-color;
  display: inline-block;
  padding: 20px 50px;

  a {
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
  }
}

/*====================
Default Css starts.
====================*/
