/*====================
Form Css starts.
====================*/

.form {
    background: url('../images/footer-image.jpg');
    @include background();
    background-position: top;
    padding-bottom: 400px;
    margin-bottom: 0px;

    .admission {
        &__heading {
            text-align: center;
            margin: 100px auto;

            h1 {
                font-family: "Nunito-bold";
                font-size: 40px;
                line-height: 55px;
                color: #434343;
                margin: 25px 0px;
            }

            input {
                font-family: "OpenSans-regular";
                padding: 20px 70px;
                border: 1px solid #43434325;
                margin-right: 20px;
                font-size: 14px;
                color: #434343;
            }
        }
    }
}

/*====================
Form Css ends.
====================*/