$blue-color: #85ccc5;
$red-color: #e39281;
$yellow-color: #f8cb6e;

/*
  font-family: "AmaticSC-bold";
  font-family: "Heebo-regular";
  font-family: "Montserrat-bold";
  font-family: "Nunito-bold";
  font-family: "Nunito-semibold";
  font-family: "OpenSans-bold";
  font-family: "OpenSans-light";
  font-family: "OpenSans-regular";
  */

@import "_font";
@import "_default";
@import "_header";
@import "_hero";
@import "_category";
@import "_services";
@import "_blog";
@import "_event";
@import "_video";
@import "_course";
