:root {
  --blue-color: #85ccc5;
  --red--color: #e39281;
  --yellow--color: #f8cb6e;
}

/*====================
Font Declaration
====================*/

@font-face {
  font-family: "AmaticSC-bold";
  src: url(../font/AmaticSC-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Heebo-regular";
  src: url(../font/Heebo-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url(../font/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito-bold";
  src: url(../font/Nunito-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito-semibold";
  src: url(../font/Nunito-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans-bold";
  src: url(../font/OpenSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans-light";
  src: url(../font/OpenSans-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans-regular";
  src: url(../font/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

/*
font-family: "AmaticSC-bold";
font-family: "Heebo-regular";
font-family: "Montserrat-bold";
font-family: "Nunito-bold";
font-family: "Nunito-semibold";
font-family: "OpenSans-bold";
font-family: "OpenSans-light";
font-family: "OpenSans-regular";
*/

p {
  font-family: "OpenSans-light";
  font-size: 50px;
  color: var(--blue-color);
}
