/*
  font-family: "AmaticSC-bold";
  font-family: "Heebo-regular";
  font-family: "Montserrat-bold";
  font-family: "Nunito-bold";
  font-family: "Nunito-semibold";
  font-family: "OpenSans-bold";
  font-family: "OpenSans-light";
  font-family: "OpenSans-regular";
  */
/*====================
Font Css starts.
====================*/
@font-face {
  font-family: "AmaticSC-bold";
  src: url(../font/AmaticSC-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Heebo-regular";
  src: url(../font/Heebo-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url(../font/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito-bold";
  src: url(../font/Nunito-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito-semibold";
  src: url(../font/Nunito-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans-bold";
  src: url(../font/OpenSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans-light";
  src: url(../font/OpenSans-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans-regular";
  src: url(../font/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

/*====================
Font Css ends.
====================*/
/*====================
Default Css starts.
====================*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

::-moz-selection {
  background-color: #f8cb6e;
}

::selection {
  background-color: #f8cb6e;
}

.col-25 {
  width: 25%;
  float: left;
}

.col-33 {
  width: 33.33%;
  float: left;
}

.col-50 {
  width: 50%;
  float: left;
}

.col-75 {
  width: 75%;
  float: left;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.container::before, .container::after {
  content: "";
  display: table;
  clear: both;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

header,
footer,
section {
  overflow: hidden;
}

section {
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.btn {
  background-color: #f8cb6e;
  display: inline-block;
  padding: 20px 50px;
}

.btn a {
  font-family: "OpenSans-bold";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}

/*====================
Default Css starts.
====================*/
/*====================
Header Css starts.
====================*/
header {
  background-color: #85ccc5;
}

header .menu .col-25 {
  padding: 20px;
}

header .menu .col-75 {
  padding: 15px;
}

header .menu__logo {
  height: 26px;
}

header .option {
  float: right;
}

header .option__item {
  padding: 10px;
}

header .option__item__link {
  font-family: "OpenSans-bold";
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}

/*====================
Header Css starts.
====================*/
/*====================
Hero Css starts.
====================*/
.hero {
  background-image: url("../images/header-bg-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero__content {
  margin: 120px 0px;
}

.hero__content h1 {
  font-family: "Nunito-bold";
  font-size: 90px;
  line-height: 90px;
  color: #85ccc5;
  text-shadow: #56585b 2px 3px;
}

.hero__content h6 {
  font-family: "OpenSans-light";
  font-size: 20px;
  line-height: 34px;
  color: #555555;
  margin: 30px 0px;
}

.hero .slider {
  position: relative;
}

.hero .slider__img {
  width: 80%;
  position: absolute;
  right: 120;
  top: 120px;
}

/*====================
Hero Css starts.
====================*/
/*====================
Category Css starts.
====================*/
.category {
  margin-top: -200px;
}

.category .col-33 {
  padding: 0px;
}

.category .box {
  width: 100%;
  height: 280px;
}

.category .box h3 {
  font-family: "AmaticSC-bold";
  font-size: 54px;
  line-height: 60px;
  color: white;
  text-shadow: 3px 3px #594b2b;
  margin: 25px 0px;
}

.category .box p {
  font-family: "Nunito-semibold";
  font-size: 17px;
  line-height: 28px;
  color: white;
}

.category .one {
  background: url(../images/catagory-box-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.category .one .box__details {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 25px;
}

.category .two {
  background: url(../images/catagory-box-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.category .two .box__details {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 25px;
}

.category .three {
  background: url(../images/catagory-box-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.category .three .box__details {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 25px;
}

/*====================
Category Css Ends.
====================*/
/*====================
Services Css starts.
====================*/
.services .box__heading {
  font-family: "Nunito-bold";
  font-size: 25px;
  line-height: 30px;
  color: #434343;
  display: inline-block;
  margin-left: 20px;
}

.services .box__details {
  font-family: "OpenSans-regular";
  font-size: 15px;
  line-height: 25px;
  color: #888888;
  padding: 20px 0px;
  width: 85%;
}

/*====================
Services Css ends.
====================*/
/*====================
Blog Css starts.
====================*/
.blog {
  background: url("../images/blog-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -250px 0px;
  padding: 100px;
  margin-bottom: 0px;
}

.blog .col-50 {
  padding: 0px 40px;
  float: right;
}

.blog .post {
  background-color: #f8cb6e;
  padding: 50px;
}

.blog .post__heading {
  font-family: "AmaticSC-bold";
  font-size: 54px;
  line-height: 60px;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px #594b2b;
  margin-bottom: 40px;
}

.blog .post__para {
  font-family: "OpenSans-regular";
  font-size: 17px;
  line-height: 23px;
  color: #313131;
  margin-bottom: 20px;
}

.blog .post__btn {
  background-color: white;
  margin-top: 40px;
}

/*====================
Blog Css ends.
====================*/
/*====================
Event Css starts.
====================*/
.event__heading {
  text-align: center;
  width: 70%;
  margin: 0px auto 100px;
}

.event__heading h1 {
  font-family: "Nunito-bold";
  font-size: 47px;
  line-height: 55px;
  color: #434343;
  margin: 25px 0px;
}

.event__heading p {
  font-family: "OpenSans-regular";
  font-size: 18px;
  line-height: 33px;
  color: #888888;
}

.event .box {
  padding: 25px;
}

.event .box__img {
  width: 100%;
}

.event .box p {
  background-color: #f8cb6e;
  font-family: "Nunito-bold";
  font-size: 25px;
  line-height: 25px;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 15px 25px;
}

.event .box p span {
  display: block;
  font-family: "Nunito-semibold";
  font-size: 17px;
  line-height: 17px;
}

.event .box__bottom h1 {
  font-family: "Nunito-bold";
  font-size: 25px;
  line-height: 35px;
  color: #434343;
  margin-bottom: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid #80808060;
}

.event .box__bottom span {
  display: block;
  color: #808080;
  font-family: "OpenSans-regular";
  font-size: 14px;
  line-height: 26px;
}

.event .box__bottom i {
  margin-right: 15px;
}

.event .one .box__top {
  position: relative;
}

.event .one .box__top p {
  position: absolute;
  left: 0px;
  top: 0px;
}

.event .two .box__top {
  position: relative;
}

.event .two .box__top p {
  position: absolute;
  left: 0px;
  top: 0px;
}

.event .three .box__top {
  position: relative;
}

.event .three .box__top p {
  position: absolute;
  left: 0px;
  top: 0px;
}

/*====================
Event Css ends.
====================*/
/*====================
Video Css starts.
====================*/
.video {
  background: url("../images/video-birds.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.video .left {
  position: relative;
}

.video .box {
  padding: 25px 30px;
}

.video .box__bg {
  width: 100%;
}

.video .box__icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video .box h1 {
  font-family: "Nunito-bold";
  font-size: 45px;
  line-height: 45px;
  color: #434343;
}

.video .box p {
  font-family: "OpenSans-regular";
  font-size: 18px;
  line-height: 30px;
  color: #888888;
}

.video .box__details {
  margin: 30px 0px;
  padding-right: 50px;
}

.video .box__highlight {
  display: inline-block;
  width: 40%;
}

.video .box__number {
  font-family: "Nunito-bold";
  font-size: 48px;
  line-height: 48px;
  color: #f8cb6e;
}

/*====================
Video Css ends.
====================*/
/*====================
Cousrse Css starts.
====================*/
.course__heading {
  text-align: center;
  width: 70%;
  margin: 0px auto 100px;
}

.course__heading h1 {
  font-family: "Nunito-bold";
  font-size: 47px;
  line-height: 55px;
  color: #434343;
  margin: 25px 0px;
}

.course__heading p {
  font-family: "OpenSans-regular";
  font-size: 18px;
  line-height: 33px;
  color: #888888;
}

.course .col-33 {
  padding: 20px;
}

.course .box {
  border: 1px solid #43434330;
}

.course .box__img img {
  width: 100%;
}

.course .box__details {
  padding: 25px;
  position: relative;
}

.course .box__details h1 {
  font-family: "Nunito-bold";
  font-size: 25px;
  line-height: 35px;
  color: #434343;
  display: inline-block;
}

.course .box__details span {
  font-family: "OpenSans-bold";
  font-size: 13px;
  line-height: 26px;
  color: white;
  background-color: #f8cb6e;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
}

.course .box__details h6 {
  font-family: "OpenSans-regular";
  font-size: 14px;
  line-height: 26px;
  color: #b9b9b9;
}

.course .box__details p {
  font-family: "OpenSans-regular";
  font-size: 15px;
  line-height: 25px;
  color: #888888;
  padding-right: 20px;
  margin-top: 20px;
}

.course .box__bottom {
  font-family: "OpenSans-regular";
  font-size: 15px;
  line-height: 25px;
  color: #888888;
  border-top: 1px solid #43434330;
  padding: 15px 25px;
}

.course .box__bottom i {
  margin-right: 5px;
}

.course .box__bottom .fa-clock {
  margin-left: 20px;
}

/*====================
Cousrse Css ends.
====================*/
/*====================
Form Css starts.
====================*/
.form {
  background: url("../images/footer-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 400px;
  margin-bottom: 0px;
}

.form .admission__heading {
  text-align: center;
  margin: 100px auto;
}

.form .admission__heading h1 {
  font-family: "Nunito-bold";
  font-size: 40px;
  line-height: 55px;
  color: #434343;
  margin: 25px 0px;
}

.form .admission__heading input {
  font-family: "OpenSans-regular";
  padding: 20px 70px;
  border: 1px solid #43434325;
  margin-right: 20px;
  font-size: 14px;
  color: #434343;
}

/*====================
Form Css ends.
====================*/
/*====================
Details Css starts.
====================*/
.details {
  background: url("../images/footer.jpg");
  margin-bottom: 0;
  padding-bottom: 30px;
}

.details .address {
  padding-left: 20px;
  padding-right: 20px;
}

.details .address__heading {
  font-family: "Nunito-bold";
  font-size: 20px;
  line-height: 30px;
  color: #313131;
  padding-top: 100px;
  margin-bottom: 20px;
}

.details .address__para {
  font-family: "OpenSans-regular";
  font-size: 15px;
  line-height: 25px;
  color: #888888;
  margin-bottom: 20px;
}

.details .address__details {
  font-family: "OpenSans-regular";
  font-size: 14px;
  line-height: 25px;
  color: #313131;
  display: block;
}

.details .address__details i {
  margin: 10px 20px 10px 0px;
}

.details .address__topic {
  font-family: "OpenSans-regular";
  font-size: 15px;
  line-height: 20px;
  color: #313131;
}

.details .address__topic--margin {
  margin-bottom: 20px;
}

.details .address__writer {
  font-family: "OpenSans-regular";
  font-size: 13px;
  line-height: 20px;
  color: #888888;
  margin-bottom: 20px;
}

.details .address__img {
  width: 100%;
}

/*====================
Details Css Ends.
====================*/
/*====================
Footer Css starts.
====================*/
footer {
  background-color: #F2F1ED;
  padding-bottom: 30px;
}

footer .container {
  border-top: 1px solid rgba(0, 0, 0, 0.103);
  padding-top: 30px;
}

footer .copyright p {
  font-family: "OpenSans-regular";
  font-size: 12px;
  line-height: 25px;
  color: #555555;
}

footer .copyright span {
  color: #313131;
}

footer .social {
  float: right;
}

footer .social__link {
  font-family: "OpenSans-regular";
  font-size: 12px;
  line-height: 25px;
  color: #313131;
  margin-left: 20px;
}

footer .social__link--color {
  color: #555555;
}

footer .social__link .fab {
  margin-left: 10px;
  font-size: 14px;
}

footer .social__link .fa-twitter {
  color: #55acef;
}

footer .social__link .fa-facebook-f {
  color: #3b5999;
}

footer .social__link .fa-google-plus-g {
  color: #dd4c39;
}

footer .social__link .fa-instagram {
  color: #e44160;
}

/*====================
Footer Css ends.
====================*/
/*# sourceMappingURL=style.css.map */